@import "./content/all.css";
@import "./content/header.css";
@import "./content/footer.css";

*{ font-family: "Proxima Nova";
}
/* ----------TOPICS------------ */
div.city_topics{
    font-size: 28px;
    margin: 0 auto;
   /* padding-top: 100px; */
   font-weight: 600;
   padding: 15px;
   text-align: center;
}
/* ---------brad----------- */
div.breadcrumb{
    background-color:#dfdddd;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 14px;
  }
  div.breadcrumb ol.breadcrumb_list{
    margin: 0 auto;
    padding: 10px;
    /* padding-bottom: 0; */
    list-style: none;
    width: 1100px;
    padding-left: 80px;
  }

  @media screen and (max-width: 1200px) {
    div.breadcrumb ol.breadcrumb_list{
        width:100%;
    }
}
  div.breadcrumb ol.breadcrumb_list > li{
    display: inline-block;
    margin-right: 10px;
  }
  
  
  
  /* 利用 ::before 擬似元素，創造斜線做為分隔 */
  div.breadcrumb ol.breadcrumb_list > li::before{
    content: "/";
    font-size: 18px;
    color: #aaa;
    margin-right: 12px;
  }
  /* 第一個 li 元素，將 ::before 設定回來需要的 */
  div.breadcrumb ol.breadcrumb_list > li:first-child::before{
    content: "";
    margin-right: 0;
  }
  
  
  /* 基本文字樣式 */
  div.breadcrumb ol.breadcrumb_list > li > a{
    text-decoration: none;
    display: inline-block;
    color: #457755;
    
  }
  
  /* 滑動移過後改變文字顏色 */
  div.breadcrumb ol.breadcrumb_list > li > a:hover{
    color: #457755;
  }
  

/* ----------main------------ */
div.tokyobox{
    /* border: 1px solid black; */
    width:960px;
    margin: 0 auto;
}

@media screen and (max-width: 1200px) {
    div.tokyobox{
        width:90%;
    }
}
div.tokyobanner img{
    width:100%;
}
div.area{
    font-size: 24px;
    margin: 0 auto;
   padding-top: 50px;
   font-weight: 500;
   text-align: center;
   color: #282828;

}
/* ------------------area tag----------- */

div.areatag_listall{
    font-family: "Proxima Nova";
    color:#282828;
    text-align: center;
   
    
}
div.areatag_listall ul.areatag_all{
    list-style: none;
    clear: both;
    padding-left: 0px;
}
div.areatag_listall ul.areatag_all > li{
    display: inline-block;
    margin: 5px;
    color:#757575;
    background-color: rgb(255, 255, 255);
    padding: 0px 1em;
    border: 1px solid rgb(203, 203, 203);
    border-radius: 2em;
    font-size: 14px;
    color: rgb(102, 112, 124);
}
div.areatag_listall ul.areatag_all > li > a{
    display: inline-block;
    font-size: 14px;
    text-decoration: none;
    padding: 5px 10px;
}
div.areatag_listall ul.areatag_all > li > a:visited {
    color: rgb(102, 112, 124);
}
div.show{
    padding: 5px;
    padding-bottom: 50px;
    color:#000000 ;

}
div.areatag_listall ul.areatag_all div.show > a{
    font-size: 14px;
    text-decoration: none;
    padding: 10px;
    color: #282828;
}
a:-webkit-any-link {
    color: #282828;
}
div.areatag_listall ul.areatag_all div.show > a:visited{
    color: #282828;

}


/* ------------------cafe----------- */
div.cafe_all{
    text-align: center;
}

div.cafe {
    border: 1px solid #DAE0E6;
	background-color: #fff;
	border-radius: 5px;
	box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
	max-width: 100%;
	overflow: hidden;
    width: 250px;
    height: 330px;
    position: relative;
    display: inline-block;
    margin: 20px;

}

@media screen and (max-width: 992px) {
    div.cafe:nth-child(9){
        display:none;
    }
}

div.bookmark{
    position: absolute;
    display: inline-block;
    right: 10px;
    top:10px;
    background: rgb(255, 255, 255);
    width: 35px;
    height: 35px;
    align-items: center;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    cursor: pointer;
}

div.bookmark img{
    width: 15px;

}

.cafephoto a img{
    width: 100%;
}

.cafephoto{
    position: relative;
    font-size: 0;
    width: 250px;
}
.cafeinfo h3{
    margin: 0px;
    padding-left: 5px;
    color: #282828;
}

div.user{
    padding-left: 5px;
    /* padding:5px; */
    position: relative;
    margin-top: 30px
    
}




.cafeinfo{
	padding:10px;
    width: 100%;
    display: inline-block;
    font-size: 14px;
    /* vertical-align: middle; */
    text-align: justify;
    text-justify:inter-ideograph;
}



.cafeinfo div.founded img,.cafeinfo div.location img{
    width: 15px;
    margin: 5px;
    position: relative;
    top: 6px;
    margin-right: 5px;

}

.cafeinfo div.location, .cafeinfo div.founded{
    font-weight: 500;
    color:#888888;
}

.cafeinfo div.user img{
    width: 20px;
}

.cafeinfo div.user img.heart{
    width: 15px;
    top:5px;
    right:10px;
    position: absolute;
    cursor: pointer;
}

.cafeinfo span.ossme{
    font-size: 10px;
    color: #AAADAD;
    padding: 5px;
    font-weight: 600;
    position: relative;
    bottom:4px;
}


/* ----------see MORE----------------- */
a.seemoreuser {
    appearance: none;
    background: none rgb(18, 20, 22);
    cursor: pointer;
    line-height: 1;
    margin: 0px auto;
    overflow: visible;
    padding: 0px 2rem;
    text-transform: none;
    display: inline-flex;
    position: relative;
    align-items: center;
    justify-content: center;
    height: 2.875rem;
    border: 0px none;
    border-radius: 5px;
    font-size: 18px;
    color: rgb(255, 255, 255);
    padding: 0 80px;
    text-decoration: none;
    text-align: center;
    margin-bottom: 120px;
    margin-top: 40px;
}

@media screen and (max-width: 767px) {
    a.seemoreuser {
        font-size: 16px;
        margin-bottom: 120px;
    }
}

button.seemoreuser:visited {
    text-decoration: none;
    color: rgb(255, 255, 255);
}