@import "./content/all.css";
@import "./content/header.css";
@import "./content/footer.css";
@import "./content/topicsnav.css";
/* ---------brad----------- */

div.breadcrumb {
    background-color: #f4f4f4;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 14px;
}
 
@media screen and (max-width: 767px) {
    div.breadcrumb {
        display: none;
    }
}

div.breadcrumb ol.breadcrumb_list {
    margin: 0 auto;
    padding: 10px;
    list-style: none;
    width: 768px;
    padding-left: 0;
}

@media screen and (max-width: 992px) {
    div.breadcrumb, div.breadcrumb ol.breadcrumb_list {
        width: 100%;
    }
}

div.breadcrumb ol.breadcrumb_list>li {
    display: inline-block;
    margin-right: 10px;
}

@media screen and (max-width: 992px) {
    div.breadcrumb ol.breadcrumb_list>li {
        margin-left: 20px;
    }
}

/* 利用 ::before 擬似元素，創造斜線做為分隔 */

div.breadcrumb ol.breadcrumb_list>li::before {
    content: "/";
    font-size: 18px;
    color: #666C70;
    margin-right: 12px;
}

/* 第一個 li 元素，將 ::before 設定回來需要的 */

div.breadcrumb ol.breadcrumb_list>li:first-child::before {
    content: "";
    margin-right: 0;
}

/* 基本文字樣式 */

div.breadcrumb ol.breadcrumb_list>li>a {
    text-decoration: none;
    display: inline-block;
    color: #457755;
}

/* 滑動移過後改變文字顏色 */

div.breadcrumb ol.breadcrumb_list>li>a:hover {
    color: #365B56;
}

/* -----------title---------------- */

div.type {
    text-align: left;
    padding-top: 20px;
    font-size: 13px;
    letter-spacing: 1.5px;
    font-weight: 500;
    color: #868686;
}

/* @media screen and (max-width: 992px) {
    div.type{
        margin-left:20px;
    }
} */

div.type span {
    background-color: #365B56;
    color: white;
    border-radius: 5px;
    padding: 4px;
    font-size: 12px;
    cursor: pointer;
}

div.article {
    font-family: "Proxima Nova";
    color: #282828;
    text-align: center;
    font-size: 18px;
    clear: both;
    position: relative;
}

div.title {
    font-size: 32px;
    font-weight: 600;
    text-align: left;
    margin: 20px 0;
}

@media screen and (max-width: 767px) {
    div.title {
        font-size: 26px;
        /* margin-left:20px; */
    }
}

@media screen and (min-width:576px)and (max-width: 992px) {
    div.title {
        margin: 10px 0 10px 0;
    }
}

div.topics_title_all {
    /* border: 1px solid red; */
    width: 768px;
    margin: 0 auto;
    padding: 10px 0;
    padding-top: 5px;
}

@media screen and (max-width: 992px) {
    div.topics_title_all {
        width: 90%;
    }
}

div.topics_title_all::after {
    content: "";
    display: block;
    clear: both;
}

div.topics_img img {
    width: 768px;
    /* position: absolute; */
    margin: 0 auto;
}

@media screen and (max-width: 992px) {
    div.topics_img img {
        width: 100%;
    }
}

div.topics_img {
    font-size: 0;
}

div.authorcontainer {
    float: left;
    margin-bottom: 10px;
    /* border: 1px solid blue; */
}

div.author {
    /* border: 1px solid black; */
    display: inline-block;
    position: relative;
}

div.author a.photo img {
    width: 40px;
    display: inline-block;
}

@media screen and (max-width: 992px) {
    div.author a.photo img {
        width: 35px;
    }
}

div.name {
    font-weight: 600;
    /* border: 1px solid black; */
    display: inline-block;
    position: absolute;
    padding-top: 3px;
    padding-bottom: 10px;
    padding-left: 5px;
}

@media screen and (max-width: 992px) {
    div.name, div.date {
        font-size: 14px;
    }
}

div.date {
    font-size: 14px;
    color: #636464;
    /* border: 1px solid black; */
    display: inline-block;
    padding-left: 5px;
}

div.topics_social1 {
    /* border: 1px solid black; */
    float: right;
    margin-top: 15px;
}

@media screen and (max-width: 767px) {
    div.topics_social1 {
        display: none;
    }
}

div.topics_social1 span {
    font-size: 10px;
    font-weight: 600;
    padding-right: 3px;
    position: relative;
    bottom: 3px;
}

div.topics_social1 img {
    width: 25px;
    padding: 3px;
    position: relative;
    top: 5px;
}

/* --------------------------content----------------------- */

div.article h1 {
    /*letter-spacing: 0.5px; */
    margin: 0 auto;
    width: 768px;
    text-align: left;
    padding: 15px 0;
}

div.content {
    width: 768px;
    vertical-align: middle;
    margin: 0 auto;
    text-align: justify;
    text-justify: inter-ideograph;
    line-height: 35px;
    margin-bottom: 50px;
}


@media screen and (max-width: 767px) {
    div.content {
        width: 90%;
        font-size: 16px;
        line-height: 25px;
    }
}

@media screen and (min-width:768px) and (max-width: 992px) {
    div.content {
        width: 90%;
    }
}

div.violet img {
    width: 768px;
    padding: 20px 0;
}

@media screen and (max-width: 992px) {
    div.violet img {
        width: 100%;
    }
}

/* -----------foot-------------------- */

div.tag {
    display: inline-block;
}

div.tag img {
    width: 20px;
}

div.bottum {
    position: relative;
}

div.bottum ul.hashtag {
    padding-left: 0;
    /* position: relative; */
    display: flex;
    flex-wrap: nowrap;
    margin-bottom: 30px;
}

@media screen and (max-width: 1200px) {
    div.bottum ul.hashtag {
        flex-wrap: wrap;
    }
}

div.bottum ul.hashtag li {
    list-style: none;
    display: inline-block;
    line-height: 35px;
    padding: 0 20px;
    font-size: 12px;
    color: #777;
    font-weight: 500;
    background-color: #f3f3f3;
    margin-right: 8px;
    margin-bottom: 8px;
    border-radius: 5px;
    cursor: pointer;
}

div.topics_social {
    /* border: 1px solid black; */
    display: inline-block;
    position: absolute;
    vertical-align: middle;
    right: 0;
    top: -2px;
}

@media screen and (max-width: 992px) {
    div.topics_social {
        display: block;
        position: static;
        text-align: center;
    }
}

div.topics_social span {
    font-size: 10px;
    font-weight: 600;
    padding-right: 3px;
}

@media screen and (max-width: 992px) {
    div.topics_social span {
        display: block;
        position: static;
        text-align: center;
        font-size: 14px;
    }
}

div.topics_social img {
    width: 25px;
    padding: 3px;
    position: relative;
    top: 7px;
}

@media screen and (max-width: 992px) {
    div.topics_social img {
        width: 30px;
    }
}

/* --------button------ */

hr.button {
    /* border: 1px solid #000; */
    background-color: #000;
    height: 1px;
    width: 768px;
}

@media screen and (max-width: 1200px) {
    hr.button {
        width: 100%;
    }
}

div.button {
    margin: 0 auto;
    width: 768px;
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
    margin-bottom: 150px;
}

@media screen and (max-width: 1200px) {
    div.button {
        width: 100%;
    }
}

div.pre, div.next {
    font-size: 14px;
    letter-spacing: 0.13em;
    /* font-weight: 500px; */
    border: 1px solid #000;
    padding: 15px 20px;
    cursor: pointer;
    vertical-align: middle;
    width: 45%;
    text-align: left;
}

div.pre span, div.next span {
    font-size: 18px;
    letter-spacing: 0;
    padding: 15px 0;
    font-weight: bold;
}

div.all>a {
    text-decoration: none;
}

div.all>a:visited {
    text-decoration: none;
    color: #000;
}

@media screen and (min-width: 768px) and (max-width: 1200px) {
    div.pre, div.next {
        margin: 0 20px;
    }
}

@media screen and (max-width: 767px) {
    div.pre, div.next {
        margin: 0 20px;
        font-size: 12px;
    }
    div.pre span, div.next span {
        font-size: 14px;
    }
}

/* Sweep To Right */

div.pre, div.next {
    display: inline-block;
    vertical-align: middle;
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    position: relative;
    transition-property: color;
    transition-duration: 0.3s;
}

div.pre:before, div.next:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #282828;
    transform: scaleX(0);
    transform-origin: 0 50%;
    transition-property: transform;
    transition-duration: 0.5s;
    transition-timing-function: ease-out;
}

div.pre:hover, div.pre:focus, div.pre:active, div.next:hover, div.next:focus, div.next:active {
    color: white;
}

div.pre:hover:before, div.pre:focus:before, div.pre:active:before, div.next:hover:before, div.next:focus:before, div.next:active:before {
    transform: scaleX(1);
}

.go-top {
    font-family: "Proxima Nova";
    position: fixed;
    bottom: 80px;
    right: 50px;
    text-decoration: none;
    color: #fafafa;
    background-color: rgba(54, 91, 86, 0.95);
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 1px;
    padding: 1em;
    display: none;
    border-radius: 5px;
}

.go-top:hover {
    background-color: #282828;
}

@media screen and (max-width: 767px) {
    .go-top {
       right: 8px;
        bottom: 130px;
    }
}