* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

hr.user_title {
  border: 0;
  height: 3px;
  background: #282828;
  width: 50px;
  margin-top: 8px;
  margin-bottom: 8px;
}

@font-face {
  font-family: "Proxima Nova";
  src: url("../fonts/ProximaNova-Regular.otf"); 
  font-display: swap;
}

