body{
    background-color: #fafafa;
}
header.header{
    font-family: "Proxima Nova";
    width: 1200px;
    margin: 0 auto ;
    font-size: 0;
}

@media screen and (max-width: 1200px) {
    header.header{
        display: none;
    }
}

/* @media (max-width: 767px){
    header.header{
        width: 100%;
      }
    } */

header.header a.logo_img{
    display: inline-block;
    /* position: absolute; */
}
header.header a.logo_img img{
    height: 70px;
}

header.header a.account_img img{
    height: 20px;
    position: relative;
    top: 4px
}

header.header nav.nav{
    /* display: inline-block; */
    float: right;
    padding: 10px ;
    /* margin-top:17px; */
}


header.header nav.nav ul.link_list{
    list-style: none;
    margin: 0;
    padding: 0;
}

header.header nav.nav ul.link_list > li{
    display: inline-block;
    text-align: center;
    padding-right: 5px;
    padding-left: 5px;
    font-size: 0;
}
header.header nav.nav ul.link_list > li > a{
    display: inline-block;
    font-size: 14px;
    text-decoration: none;
    padding: 5px 10px;
    min-width: 100px;
    font-weight: 650;
    color:#282828;
    letter-spacing:0.15em;
}

header.header nav.nav ul.link_list > li > a:visited {
    color:#282828;
}

  /* header.header nav.nav ul.link_list > li > a:hover{
    color: white;
  } */
  
header.header nav.nav ul.link_list > li div.city_block{
    font-size: 14px;
    position: relative;
    min-width: 100px;
    text-align: center;
}
 header.header nav.nav ul.link_list > li div.city_block:hover ul.city_list{
    display: block;
}
header.header nav.nav ul.link_list > li div.city_block ul.city_list{
    margin: 0;
    padding: 0;
    list-style: none;
    position: absolute;
    right: 0;
    top: 10px;
    background-color: white;
    min-width: 100%;
    display: none;
    /* border: 1px solid black; */
}
  
header.header nav.nav ul.link_list > li div.city_block ul.city_list > li a{
    font-size: 14px;
    text-decoration: none;
    display: inline-block;
    width: 100%;
    padding: 10px 0;
    position: relative;
}
header.header nav.nav ul.link_list > li div.city_block ul.city_list > li a::after{
    content: "";
    position: absolute;
    width: 80%;
    left: 50%;
    transform: translateX(-50%);
    bottom: 0;
    height: 1px;
    background-color: gray;
}
header.header nav.nav ul.link_list > li div.city_block ul.city_list > li:last-child a::after{
    height: 0;
}
header.header nav.nav ul.link_list > li div.city_block ul.city_list > li a:visited {
    color:#282828;
}